.App {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 28px;
  }
  .slider {
    width: 100%;
  }
  
  .label {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .tenure-container {
    display: flex;
    justify-content: space-between;
  }
  .tenure {
    width: 100px;
    height: 50px;
    border-radius: 106px;
    background-color: rgb(226, 226, 226);
  }
  
  .selected {
    background-color: #009ad6;
    color: white;
  }
  