* {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container {
    background-color: #24242b;
    padding: 24px;
    width: 50%;
    height:60vh;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: white;
    font-weight: 700;
  }
  
  .copyBtn {
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    background-color: #2a8b8b;
    padding: 9px;
    height: 30px;
    font-size: 10px;
    font-weight: 700;
  }
  .charLength {
    display: flex;
    flex-direction: column;
    color: white;
    padding-bottom: 20px;
    font-size: 20px;
  }
  .charLength > span {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 24px;
    margin-top: 15px;
  }
  
  .checkbox {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    color: white;
    font-size: 16px;
    font-weight: 700;
  }
  .checkbox > div {
    display: flex;
    gap: 5px;
    padding-bottom: 25px;
  }
  
  .generateBtn {
    width: 100%;
    background-color: #2a8b8b;
    padding: 20px;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 700;
    margin-top: 80px;
  }
  .error {
    color: red;
    padding-bottom: 5px;
  }
  .strength {
    width: 100%;
    display: flex;
    color: white;
    text-transform: uppercase;
    justify-content: space-between;
    padding-bottom: 12px;
    font-weight: 700;
    font-size: 14px;
  }
  